venv/
/venv
.venv
.env
__pycache__/
*.py[cod]
$py.class
.DS_Store
.idea/
.vscode/
*.log
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp
.coverage
.coverage.*
htmlcov/
.pytest_cache/
dist/
build/
*.egg-info/
*.mp4
*.webp

run.sh
run.bat

*.AppImage
*.msi
*.dmg
*.deb
*.rpm

videos/
.briefcase/
*.dist-info/
